.vscode/
*.exe
/sem-2/data-mining-lab/.ipynb_checkpoints/
/sem-2/cloud-computing/JavaApplication1/nbproject/private/
/sem-2/cloud-computing/JavaApplication1/build/
/sem-2/cloud-computing/JavaApplication2/nbproject/private/
/sem-2/cloud-computing/JavaApplication2/build/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication3/nbproject/private/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication3/build/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication4/nbproject/private/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication4/build/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication5/nbproject/private/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication5/build/
/sem-2/cloud-computing/cloudsim-3.0.3/JavaApplication5/dist/
/sem-2/cloud-computing/cloudsim-3.0.3/CCSimulator/nbproject/private/
/sem-2/cloud-computing/CCSimulator/nbproject/private/
/sem-2/cloud-computing/CCSimulator/build/
/sem-2/cloud-computing/CCSimulator/dist/
/sem-2/cloud-computing/cloudsim-3.0.3/CCSimulator/build/
